.serviceDetail{
    margin: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.serviceDetail img{
    width: 300px;
    height: 180px;
    border-radius: 5px;
}

.imgBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.itemCount{
    margin-top: 10px;
}

.itemDetailBox{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.finishButton{
    border-radius: 20px;
    border: none;
    background-color: #1f5996;
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
    padding: 5px; 
    cursor: pointer;
}

.itemDetailBox h2{
    color: #1f5996;
    margin-top: 5px;
}

@media screen and (min-width: 480px) {
    .serviceDetail{
        
        width: 450px;
    }

    .serviceDetail img{
        width: 400px;
        height: 280px;
    }
}

@media screen and (min-width: 700px) {
    .serviceDetail{
        
        width: 500px;
    }

    .serviceDetail img{
        width: 450px;
        height: 320px;
    }
}

@media screen and (min-width: 850px) {
    .serviceDetail{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 800px;
    }

    .serviceDetail img{
        width: 400px;
        height: 280px;
        border-radius: 5px;
    }

    .itemDetailBox h2{
        font-size: 30px;
    }

    .itemDetailBox h3{
        font-size: 20px;
    }

    .itemDetailBox p{
        font-size: 20px;
    }
}