.title{
    text-align: center;
    color: #1f5996;
}

.itemList{
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 500px) {

    .itemList{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 750px) {

    .itemList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1030px) {

    .itemList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1270px) {

    .itemList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1500px) {

    .itemList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
