.backgroundImage
{
    background-image: url(./home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    opacity: 0.9;
}

.slogan 
{
    color: rgb(207, 203, 203);
    padding-top: 10px;
    font-size: 20px;
    margin: 0px;
    margin-left: 20px;
    padding-top: 110px;
    font-size: 20px;    
}

.slogan span{
    font-size: 30px;
}

@media screen and (min-width: 400px) {

    .slogan 
    {
        padding-top: 110px;
        font-size: 25px;
    }

    .slogan span{
        font-size: 35px;
    }
}

@media screen and (min-width: 500px) {

    .slogan 
    {
        padding-top: 130px;
    }
}

@media screen and (min-width: 900px) {
    .backgroundImage
    {
        height: 300px;
    } 

    .slogan 
    {
        padding-top: 180px;
        font-size: 30px;
    }

    .slogan span{
        font-size: 40px;
    }
}

@media screen and (min-width: 1450px) {
    .backgroundImage
    {
        height: 450px;
    } 

    .slogan 
    {
        padding-top: 220px;
        font-size: 45px;
    }

    .slogan span{
        font-size: 60px;
    }
}