* {
    padding: 0;
    margin: 0;
}

.title{
    margin: 20px 0px;
    text-align: center;
    color: #1f5996;
}

.itemList{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cartTable{
    width: 100%;
    margin-top: 20px;
}

.cartTable thead, .cartTable tbody{
    width: 100%;
}

.cartTable tr{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 0.5fr;
}

.cartColumns {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px; 
}

.cartColumnsInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1px;
}

.cartTable td{
    padding-top: 15px;
}

.finishBuyButton, .backHomeButton{
    border-radius: 20px;
    border: none;
    background-color: #1f5996;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px; 
    cursor: pointer;
}

.cartPriceContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}