.navListContainer {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 400px) {

    .navListContainer
    {
        display: grid;
        grid-template-rows: 4fr;
        grid-template-columns: 1fr 1fr ;
        list-style: none;
        text-align: center;
        margin-bottom: 5px;
    }

    .navItem{
        height: 50px;
    }
    
    .logo{
        grid-column-start: 1;
	    grid-column-end: 3;
    }
}

@media screen and (min-width: 600px) {

    .navListContainer
    {
        display: grid;
        grid-template-rows: 3fr;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        text-align: center;
        margin-bottom: 5px;
    }

    .navItem{
        height: 50px;
    }
    
    .logo{
        grid-column-start: 1;
	    grid-column-end: 4;
    }
}

@media screen and (min-width: 900px) {

    .navListContainer
    {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(7, 1fr);
        list-style: none;
        height: 160px;
        text-align: center;
        margin: 0px 40px;
    }

    .navItem{
        height: 100%;
    }
    
    .logo{
        grid-column-start: 1;
	    grid-column-end: 2;
    }
}

@media screen and (min-width: 1200px) {

    .navListContainer
    {
        margin: 0px 150px;
    }
}

@media screen and (min-width: 1300px) {

    .navListContainer
    {
        margin: 0px 200px;
    }
}

@media screen and (min-width: 1600px) {

    .navListContainer
    {
        margin: 0px 400px;
    }
}

.navListContainer section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line{
    border-color: rgb(192, 190, 190);
    border-width: 0.5px;
    border-style: solid;
}
