.bin {
    width: 15px;
    height: 15px; 
}
  
.deleteButton {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

.serviceImg{
    width: 170px;
    height: 80px;
    margin-left: 3px;
}

@media screen and (max-width: 600px) {
    .serviceImg{
        padding-top: 5px;
        width: 100px;
        height: 50px;
    }

    .cartItemName{
        font-size: 12px;
        margin: 0px;
    }
}